<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

    <div class="auth-container">
        <h2>Login</h2>

        <form id="loginForm">
            <input type="email" name="email" id="username" required placeholder="Email">

            <input type="password" name="password" id="password" required placeholder="Password">
            <div id="message" class="error"></div>

            <button type="submit">Login</button>
        </form>
    </div>

    <script src="/static/login.js"></script>
</body>
</html>