<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>File upload</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <div class="upload-card">
        <h2>Upload file</h2>
        <form id="uploadForm">
            <input type="file" id="fileInput" required>
            <button type="submit">Upload to the server</button>
        </form>
        <div id="message"></div>
    </div>

    <div class="files-list-container">
        <h3>Previously Added Files</h3>
        <ul id="filesList">
        </ul>
    </div>

    <script src="/static/main.js">
    </script>

</body>
</html>
