<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
   <link rel="stylesheet" href="/static/sign_up.css">
</head>
<body>

    <form id="signupForm">Sign up
    <input type="email" name="email" id="mail" required placeholder="Email">
    <span class="error"></span>

    <input type="password" name="password" id="pass1" required placeholder="Password">
    <span class="error"></span>

    <input type="password" id="pass2" required placeholder="Repeat Password">
    <span class="error"></span>

    <a href="/redirect-to-login" class="btn-link">Already have account ?</a>

    <button type="submit">Sign Up</button>
</form>

    <script src="/static/sign_up.js">
</script>
</body>
</html>
